

\.vs/abet/v15/\.suo

\.vs/abet/v15/Browse\.VC\.db

\.vs/abet/v15/ipch/AutoPCH/b1ea916e2b158361/CLIENTVERSION\.ipch

\.vs/ProjectSettings\.json

\.vs/slnx\.sqlite

\.vs/VSWorkspaceState\.json

\.vs/abet/v15/Browse\.VC\.opendb

\.vs/abet/v15/ipch/AutoPCH/18a2ece9e15bbd2/CLIENTVERSION\.ipch

\.vs/abet/v15/ipch/AutoPCH/35ae7a6b498e4598/CLIENTVERSION\.ipch

\.vs/abet/v15/ipch/AutoPCH/38278a8ce010d547/SPORK\.ipch

\.vs/abet/v15/ipch/AutoPCH/846baba9a0b6c8eb/OVERVIEWPAGE\.ipch

\.vs/abet/v15/ipch/AutoPCH/a48783be87695d0a/POW\.ipch

\.vs/abet/v15/ipch/AutoPCH/dcd695409e4332c6/MASTERNODE\.ipch

\.vs/abet/v15/ipch/AutoPCH/59d86fdeeb2e6bb8/POW\.ipch

.vs/abet/v15/ipch/AutoPCH/d28596d6359447f3/CLIENTVERSION.ipch

.vs/abet/v15/ipch/AutoPCH/f138ed562192c215/SPORK.ipch

.vs/abet/v16/.suo

.vs/abet/v16/Browse.VC.db

.vs/abet/v16/ipch/AutoPCH/1b7072a3abffd657/DASHBOARDWIDGET.ipch

.vs/abet/v16/ipch/AutoPCH/6cdb49fa7701aa99/OVERVIEWPAGE.ipch

.vs/abet/v16/Browse.VC.opendb
