

\.vs/abet/v15/\.suo

\.vs/abet/v15/Browse\.VC\.db

\.vs/abet/v15/ipch/AutoPCH/b1ea916e2b158361/CLIENTVERSION\.ipch

\.vs/ProjectSettings\.json

\.vs/slnx\.sqlite

\.vs/VSWorkspaceState\.json

\.vs/abet/v15/Browse\.VC\.opendb

\.vs/abet/v15/ipch/AutoPCH/18a2ece9e15bbd2/CLIENTVERSION\.ipch
