# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

\.vs/altbet-core/v15/Browse\.VC\.db

\.vs/altbet-core/v15/Browse\.VC\.opendb

\.vs/ProjectSettings\.json

\.vs/slnx\.sqlite

\.vs/altbet-core/v15/\.suo

\.vs/altbet-core/v15/ipch/AutoPCH/54b8d9a1e354f82/POW\.ipch

\.vs/altbet-core/v15/ipch/AutoPCH/6022c6eb9483ef8f/SPORK\.ipch

\.vs/VSWorkspaceState\.json

\.vs/altbet-core/v15/ipch/AutoPCH/62ee637654a070c9/CLIENTVERSION\.ipch

\.vs/Altbet/v15/\.suo

\.vs/Altbet/v15/Browse\.VC\.db

\.vs/Altbet/v15/Browse\.VC\.opendb

\.vs/Altbet/v15/ipch/AutoPCH/ae069a83827da561/CLIENTVERSION\.ipch

\.vs/Altbet/v15/ipch/AutoPCH/6f79583190db2e41/CLIENTVERSION\.ipch

\.vs/Altbet/v15/ipch/AutoPCH/93fb4048a4a0b419/OVERVIEWPAGE\.ipch

\.vs/abet/v15/\.suo

\.vs/abet/v15/Browse\.VC\.db

\.vs/abet/v15/Browse\.VC\.opendb
